
.sidescroller {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.sidescroller td {
  scroll-snap-align: center;
}



.catalogNav .sectionNav:not(:has(.navButtonActive)) {
  background-color: transparent;
  width: 30px;
  height: 15px;
  border-radius: 15px;

}
.catalogNav .sectionNav:not(:has(.navButtonActive)) li {
  display: none;
}

.catalogNav .sectionNavButton {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  width: 50px;
  height: 15px;
  border: 2px solid var(--background-2);
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
}
.catalogNav .sectionNavButton:hover {
  background-color: var(--background-2);
}


.catalogNav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.catalogNav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  list-style: none;
}

.catalogNav .itemNav button {
  background-color: transparent;
  width: 15px;
  height: 15px;
  border: 2px solid var(--background-2);
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}
.catalogNav .itemNav button:hover {
  background-color: var(--background-2);
}

.catalogNav li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalogNav li.itemNav::before {
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  background-color: var(--background-2);
}
.catalogNav li.itemNav:last-child::after {
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  background-color: var(--background-2);
}


.catalogNav button.navButtonActive {
  background-color: var(--foreground-2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.sidescrollerTable {
  display: table;

}

.sidescrollerTable tr {
  display: flex;
}
.sidescrollerTable td {
  width: 400px;
  max-height: 90vh;
}

.sidescrollerTable td:first-child {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.gridCell {
  display: grid;
  gap: 1em;
  align-items: center;
  padding: 0.2em;

  height: min-content;
  align-self: center;
}

.twoColumn {
  grid-column: span 2;
  grid-template-rows: 1fr 1fr;
}



.catalog {
  overflow-x: hidden;
}



.curatorEmail {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--background-1);
}

.curatorEmail a {
  text-decoration: none;
  color: var(--foreground-2);
  font-weight: bold;
  padding: 0.5em;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.curatorEmail {
  border: none;
  justify-self: flex-end;
}
.curatorEmail svg {
  height: 100%;
  width: 2.2em;
  fill: var(--foreground-2);
}

.curatorEmail a:hover svg, .curatorEmail a:hover {
  fill: var(--foreground-1);
  color: var(--foreground-1);
}

.githubLink svg {
  height: 100%;
  width: 2.2em;
  fill: var(--foreground-2);
}
.githubLink a {
  padding: 8px;
}
.githubLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--background-1);
  border: none;
}

.githubLink a:hover svg {
  fill: var(--foreground-1);
}


.header {
  display: flex;
  flex-direction: row-reverse;
  position: sticky;
  top: 0;
  background-color: var(--background-1);
  z-index: 999;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  margin: 20px;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--foreground-1);
}

.header nav.links {
  display: flex;
  flex-direction: row;
  gap: 0.2em;
  padding: 0 1em;
  flex: 1;
}

.footer {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  padding: 1em 1em;
}

.footer svg {
  width: 100px;
  height: 100px;
  fill: var(--foreground-2);
  filter: drop-shadow(0px 0px 50px var(--foreground-2));

}

.footer > div {
  display: flex;
  word-wrap: break-word;
  flex-direction: column;
  gap: 0.5em;
  color: var(--foreground-1);
  padding: 1em;
}

.footer > div a {
  text-decoration: underline;
  text-decoration-color: var(--foreground-2);
}
.footer > div b {
  color: var(--foreground-1);
  font-size: 1.3em;
}

.footer > div:first-child {
  text-align: right;
  border-right: 3px solid var(--foreground-1);
  padding-right: 0.5em;
}

.footer > div:last-child {
  text-align: left;
  border-left: 3px solid var(--foreground-1);
  padding-left: 0.5em;
}

.instruction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em 1em;
  width: 100%;
}

.instruction svg:first-child {
  fill: var(--foreground-1);
  height: 50px;
  width: 50px;
  filter: drop-shadow(0px 0px 50px var(--foreground-1));
}
.instruction svg:last-child {
  fill: var(--foreground-2);
  filter: drop-shadow(0px 0px 50px var(--foreground-2));
  animation: moveLeftRight 2s infinite alternate;
}

@keyframes moveLeftRight {
  0%, 80% {
    translate: 0 0;
  }
  90% {
    translate: -4px 0;
  }
  100% {
    translate: 10px 0;
  }
}


.hero {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
  padding: 2em;
  justify-content: space-between;
  align-items: start;
}

.hero p {
  line-height: 1.7em;
}

.hero .cta {
  display: flex;
  flex-direction: row;
}

.hero .cta button {
  margin: 1em;
  padding: 1em;
  background-color: var(--foreground-2);
  border: none;
  color: var(--background-1);
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  transition: translate 0.2s ease-in-out;
}
.hero .cta button:nth-child(2) {
  background-color: var(--background-2);
  color: var(--foreground-1);
}



.toc {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: fit-content;
  min-width: max-content;
  margin: 0 1em 1em 0;
}

.toc ol {
  list-style-type: none;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.toc ol li {
  display: flex;
  align-items: center;
}
.toc ol li a {
  background-color: var(--background-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  padding-right: 3em;
  transition: translate 0.2s ease-in-out;
}
.toc ol li a::before {
  width: 1em;
  height: 1em;
  content: "";
  margin-right: 0.5em;
  background-color: var(--foreground-1);
  border-radius: 50%;
}
.toc ol li a:hover {
  translate: 1em 0;
}
.toc ol li a:hover::before {
  background-color: var(--foreground-2);
}

.toc h2 {
  border-bottom: 3px solid var(--foreground-1);
  padding-bottom: 0.5em;
}



.catalog > section:nth-child(even) {
  background-color: var(--background-1);
  box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
}

.catalog > section:nth-child(odd) {
  background-color: var(--background-2);
  flex-direction: row-reverse;
  z-index: 2;
}

.catalog > section {
  display: flex;
  flex-direction: row;
  padding: 3em;
}


.catalog > section > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding: 3em;
}

.catalog .description {
  line-height: 1.7em;
  font-size: 15px;
  white-space: pre-wrap;
  background-color: var(--background-2);
  padding: 1em;
  margin: 0 1em;
  align-self: flex-start;
}
.catalog .description p {
  padding-left: 0.5em;
}

section .info {
  display: flex;
  justify-content: left;
  flex: 1;
}
section .info b {
  color: var(--foreground-2);
}
section .info p {
  border-left: 3px solid var(--foreground-2);
  padding-left: 1em;
}

section .tombstone {
  white-space: pre-wrap;
}



section .image {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
}

.categoryTitle {
  display: flex;
  text-align: right;
  align-items: center;
  justify-content: end;

  border-left: 3px solid var(--foreground-1);

  padding: 1em;
  margin-bottom: 1em;
}

.gridCell figure {
  /* background-image: linear-gradient(to bottom, var(--foreground-2) 50%, transparent); */
  /* background-color: var(--foreground-2); */
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 1em 0;
}

.twoColumn figure {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}


.gridCell figcaption {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.7em;
  margin: 0.3em;
  border-top: 3px solid var(--foreground-2);
}

.twoColumn figcaption {
  border-top: none;
  border-left: 3px solid var(--foreground-2);
}

.gridCell figcaption b {
  font-style: italic;
}


.gridCell img, .gridCell a {
  width: 100%;
  max-height: 40vh;
  object-fit: contain; /* this will enforce the maximum height without stretching or squishing the image */
  translate: -0.1em -0.1em;
  filter: drop-shadow(0 0 1em rgba(0, 0, 0, 0.5));
  align-self: flex-end;
}


.gridCell .description {
  white-space: pre-wrap;
}

section:nth-child(even) .image img {
  translate: 1em -1em;
}






@media (max-width: 640px) {
  .catalog > section {
    flex-direction: column;
  }

  .catalog > section:nth-child(odd) {
    flex-direction: column-reverse;
  }

  .catalog > section > div {
    padding: 1em;
  }
  .catalog > section {
    padding: 1em;
  }
  .footer svg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    opacity: 0.5;
  }
  .footer {
    position: relative;
    display: block;
    gap: 0;
  }
  .footer > div:last-child {
    border-top: 3px solid;
    border-image: linear-gradient(to right, var(--foreground-1) 0%, transparent 20%, transparent 80%, var(--foreground-1) 100%) 1;
  }
  .footer *:not(svg) {
    z-index: 1;
  }
  .toc {
    float: left;
  }
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .hero {
    display: table;
  }

  .curatorEmail {
    font-size: 0.5em;
  }
  .header nav {
    flex-wrap: wrap;
  }

}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
